$primary-color: rgb(27, 27, 27);
$secondary-color: orange;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease{
    transition: all .5s ease-in-out;
}

@function set-text-color($color){
    @if (lightness($color) > 50%){ /*A função lightness mede o brilho de uma cor, se o seu brilho for maior que 40%, quer dizer que é uma cor de luz*/
        @return black;
    } @else{
        @return white;
    }
}